<p>
  Sometimes the suggested place is very far from where you are.<br />
  This is mostly caused by faulty GPS units on desktops.<br />
  If the problem persists try using a browser on your cell phone.
</p>