<p>
How would you like me to choose where you'll eat? Any place <%= link_to_function("near", "do_settle()") %> you, or one of your <%= link_to("favorites", "/favorites/settle") %>?


</p>

<p class="help">
  You may have to give permission for us to use your location.<br />
  This site works better with mobile browsers.
</p>