<p>
OK, you're in. Now all you need is to click on the "Settle" link above.
</p>

<p class="help">
  You may have to give permission for us to use your location.<br />
  This site works better with mobile browsers.
</p>