<% if !@favorites.empty? %>
  <div class="page_title">
    Your Favorites
  </div>

  <% @favorites.each do |v| %>
    <div class="favorite">
    <%= link_to(v.name, v.canonicalUrl) %>
    <%= link_to(image_tag("/images/trash.png"), "/favorites/remove/"+v.venue_id)%>
    </div>
  <% end %>
<% end %>
