<div class="page_title">
  Favorites
</div>
<div>
  You should go to: 
</div>

<div class="location">
  <div class="link">
    <a href="<%= @selected.canonicalUrl %>"><%= @selected.name %></a>
  </div>
  <div class="address">
    <%= @selected.address %>
  </div>
</div>

<%= render(:partial => 'favorites')%>