/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$content-width: 640px;
$radius: 5px;

body {
  width: $content-width;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: large;
}

#content {
  margin: 0px;
  padding: 0px;
  background-color: white;
  width: $content-width;
}

#header {
  height: 50px;
  font-size: 250%;
  text-shadow: 2px 2px 2px red;
  color: yellow;
  text-align: center;
  background-color: black;
}

#menu {
  position: relative;
  left: - $radius;
  width: $content-width;
  background-color: red;
  border-radius: $radius;
  padding-left: $radius;
  padding-right: $radius;
  color: white;
  height: 25px;

  a {
    color: white;
    text-decoration: none;
  }
  
  #session {
    float: right;
    
    img {
      vertical-align: middle;
    }
  }
  
  .spacer {
    width: 10px;
    text-align: center;
  }

}

#main {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

#footer {
  background-color: black;
  position: absolute;
  width: $content-width;
  bottom: 0px;
  color: white;
  #powered {
    float: right;
  }
}

.help {
  font-size: small;
}

.page_title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}
